# Node.js dependencies
node_modules/

# Build and distribution folders
dist/
build/
.vite/

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.tmp
.tmp/

# Environment files
.env*
!.env.example

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache files
.cache/
